@model IEnumerable<CRUD_Alumnos.Models.Alumno>

<select class="form-control" id="IdAlumno" name="IdAlumno">
    @foreach (var item in Model)
    {
        <option value="@item.Id">
            @item.Nombres @item.Apellidos
        </option>
    }
</select>
